.footer {
  background: $primary-color;
  padding: 1vh;
  color: #fff;
  // display: grid;

  .row {
    margin: 5px;
    .content {
      display: flex;
      // flex-direction: column;
      justify-content: space-between;

      .location {
        display: flex;
        align-items: center;
        font-weight: 600;
        letter-spacing: 1px;

        span {
          margin-left: 10px;
        }
      }
    }
  }
}
