$primary-color: rgb(0,115,188);
$text-color: #000;

.heading {
    // background: coral;
    padding: 1rem;
    position: relative;
    margin-bottom: 50px;
    font-size: 4rem;
   

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom: 5px solid #000;
      width: 100%;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
  }